<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="iTextSharp" version="5.5.11" targetFramework="net461" />
  <package id="itextsharp.pdfa" version="5.5.11" targetFramework="net461" />
  <package id="itextsharp.xtra" version="5.5.11" targetFramework="net461" />
  <package id="Microsoft.ReportingServices.ReportViewerControl.Winforms" version="140.340.80" targetFramework="net461" />
  <package id="Microsoft.SqlServer.Types" version="14.0.314.76" targetFramework="net461" />
  <package id="System.Data.SQLite.Core" version="1.0.105.2" targetFramework="net461" />
</packages>